.header{
    width: 100%;
    height: 8rem;
    background-color: var(--darkColor);
    display: flex;
   align-items: center;
   justify-content: space-between;
}


.header__img{
    width: 12rem;
    height: 10rem;
    margin-left: 2rem;
}
.header__button{
    background-color: var(--mainColor);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-right: 0rem;
    gap: 1rem;
    
}
.header__button-link{
    color: var(--darkColor); 
    font-size: 1.5rem; 
    text-transform: uppercase;
    text-decoration: none;

}

   


.header__button:hover{
    background-color: var(--secondaryColor);
}