.header{
    width: 100vw;
    height: 8rem;
    background-color: var(--darkColor);
    display: flex;
   align-items: center;
   justify-content: space-between;
}


.header__containerLogo-img{
    width: 12rem;
    height: 10rem;
    margin-left: 2rem;
}
.header__containerLogo-title{
    color: var(--mainColor);
    text-transform: uppercase;
    font-size: 5rem;
    margin-left: 3rem;
}
.header__nav{
display: flex;
gap: 3rem;
margin-right: 15rem;
}
.header__nav a{
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
}
.header__nav a:hover{
    color: var(--mainColor);
}